body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    background-image: url('ImageOne.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-position: top right;*/
    background-blend-mode: color-burn;
}
