* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 5px lightcoral;
    border-block: 7px solid lightcoral;
    padding: 10px;
    color: white;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    aspect-ratio: 1;
    margin: 0 auto;
}

button {
    width: 170px;
    aspect-ratio: 2;
    border:3px solid lightcoral;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px 36px;
    background-color: transparent;
    color: lightcoral;
    text-transform: capitalize;
    
    &:hover {
        border: 3px solid lightskyblue;
        color: lightskyblue;
        animation: shake 0.2s linear infinite;
    }
}

@keyframes shake {
    0% {
        rotate: 20deg;
    }
    50% {
        rotate: -20deg;
    }
    100% {
        rotate: 20deg;
    }
}