* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url('imageOne.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section-2 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url('imageTwo.jpg');
}

.section-3 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url('imageThree.jpg');
    background-attachment: fixed;
}

.section-4 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url('imageFour.jpg');
}

h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

p {
    font-size: 20px;
    color: #fff;

}