@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;600;700;800&display=swap");

/*   B A S E   R U L E   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*   T H E M E   */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /*--bg-color: #ffffff;*/
  --heading-color: #000a19;
  --para-color: #504e4d;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --bg-color: #f7fcff;
  --footer-bg-color: #040d12;
}

/*   L A Y O U T   */

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

/*
.section-about .container:first-child,
.section-blog .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child, 
.section-why--choose .container:first-child 
.section-contact .container:first-child{
    padding: 6.4rem 0 0.2rem 0;
}
*/
:is(
    .section-about,
    .section-blog,
    .section-course,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact
  )
  .container:first-child {
  padding: 6.4rem 0 0.2rem 0;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/*   M O D U L E / R E U S A B L E   */

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.section-common-heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}

.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem 0;
}

.fa-brands {
  padding: 2.4rem;
  background-color: var(--main-color);
  font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--supporting-color);
}

.fa-solid {
  padding: 2.4rem;
  background-color: var(--main-color);
  font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--supporting-color);
}

/*   S T A T E S   */

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

/***** Start Navbar Section *****/

.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
  /*text-transform: capitalize;*/

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
  }

  & li a:hover::after {
    width: 100%;
  }
}

/***** End Navbar Section *****/

/***** Start Hero Scetion *****/

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}

.section-hero .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    color: var(--hero-heading-color);
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 5.8rem;
    font-family: "jost";
    line-height: 1.5;
    color: var(--hero-heading-color);
    font-weight: 900;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 2rem 0 4rem 0;
  }
}

.section-hero--image img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/* Shape Divide */

.custom-shape-divider-bottom-1702667069 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702667069 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1702667069 .shape-fill {
  fill: #ffffff;
}

/***** End Hero Scetion *****/

/***** Start About Section *****/

.section-about img {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  width: 150px;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.about-div .icon:hover > img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-image: linear-gradient(to right, #0575e6, #021b79);
}

.section-about .about-div {
  text-align: center;
}

.section-about .grid {
  gap: 6.4rem;
}

/***** End About Section *****/

/***** Start Course Section *****/

.section-course {
  background-color: var(--bg-color);
}

.section-course .grid {
  gap: 3.2rem;
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.section-course .course-div {
  padding: 3.2rem;
}

.course-div:nth-child(2) .icon .fa-brands {
  background-color: #68bf9b;
}

.course-div:nth-child(3) .icon .fa-brands {
  background-color: #ff8b52;
}

.course-div:nth-child(4) .icon .fa-brands {
  background-color: #d988b9;
}

.course-div:nth-child(5) .icon .fa-brands {
  background-color: #ff9b50;
}

.course-div:nth-child(6) .icon .fa-brands {
  background-color: #663abc;
}

.course-div:nth-child(7) .icon .fa-brands {
  background-color: #1450a3;
}

/***** End Course Section *****/

/***** Start Why choose Section *****/

.section-why--choose .grid {
  gap: 9.6rem;
}

.why-choose--div {
  margin-top: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.choose-center--div img {
  width: 90%;
  height: auto;
}

.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div figure::before {
  animation: circle 5s linear infinite;
  -webkit-animation: circle 5s linear infinite alternate;
}

.choose-center--div figure::before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #00c0ff;
  }
  100% {
    background-color: #3301ff;
  }
}

.choose-center--div figure::after {
  width: 45rem;
  height: 45rem;
  background-color: transparent;
  z-index: -2;
  border: 2rem solid var(--supporting-color);
}

/***** End Why choose Section *****/

/***** Start Blog Section *****/

.section-blog {
  background-color: var(--bg-color);

  .grid {
    gap: 6.4rem;
  }

  & .blog {
    box-shadow: var(--btn-box-shadow);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;

    &:hover {
      scale: 1.1;
    }

    & .blog-content {
      padding: 1.4rem 2.4rem;
    }
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .blog-date {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    font-size: 1.4rem;

    & .fa-solid {
      background-color: transparent;
      padding: 0;
    }
  }

  & .section-common--title {
    margin-top: 0.8rem;
  }
}

/***** End Blog Section *****/

/***** Start actual Contact Section *****/

.section-contact {
    & .grid{
        align-items: center;
        gap: 6.4rem;
    }
}

.mb-3 {
  margin-bottom: 3.2rem;
}

label {
  display: block;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.contact-content div {
  gap: 6.4rem;
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-submit {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

/***** End actual Contact Section *****/

/***** Start Footer Section *****/

.section-contact--homepage {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  padding: 0 3.4rem;
  position: relative;
  bottom: -15rem;
  z-index: 1;
  background-color: var(--white-color);

  & .grid {
    align-items: center;
    gap: 6.4rem;
  }
}

.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage img {
  width: 90%;
  height: auto;
}

.section-contact--homepage a {
  color: var(--white-color);
  text-transform: capitalize;
}

.fa-solid {
  padding: 0.5rem;
  color: var(--main-color);
  background-color: var(--white-color);
}

/***** End Footer Section *****/

/***** Start Footer 2 Section *****/

footer {
  background-color: var(--footer-bg-color);
  padding-top: 15rem;
}

footer * {
  color: var(--white-color);
}

footer .grid {
  text-align: right;
}

.footer-subheading {
  font-size: 2.2rem;
  font-weight: 700;
}

.footer-1--div p {
  margin: 1rem 0 3.2rem 0;
}

.footer-1--div {
  text-align: left;
  & .social-footer--icons {
    display: flex;
    gap: 2.4rem;
  }
}

.footer-1--div {
  & .fa-brands {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
}

.footer-1--div {
  & .fa-brands:hover {
    color: var(--supporting-color);
    background-color: var(--btn-hover-bg-color);
    rotate: 360deg;
  }
}

/*
.footer-1--div {
    & .fa-brands{
        width: 6rem;
        height: 6rem;
        background-color: var(--supporting-color);
        color: var(--main-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: grid;
        place-items: center;
    }
}*/

/***** End Footer 2 Section *****/

::-webkit-scrollbar {
    width: 1 rem;
}

::-webkit-scrollbar-track {
    background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--heading-color);
}

input:focus-visible ,textarea:focus-visible {
    outline: .1rem solid var(--main-color);
}