* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 5px lightcoral;
    border-block: 7px solid lightcoral;
    padding: 10px;
    color: white;
}

.parent-div {
    width: 500px;
    aspect-ratio: 1;
    background-color: lightcoral;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    place-items: center;
}

.child-div {
    width: 100px;
    aspect-ratio: 1;
    background-color: lightblue;
    border: 2px solid lightseagreen;
}