ul li :is(p,h3,a) {
    color: red;
}

.parent:has([type="checkbox"]:checked) label {
    color: blue;
    font-size: 40px;
}

input[type="checkbox"] {
    accent-color: pink;
    width: 40px;
    aspect-ratio: 1;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 1rem;
    list-style: none;
    border: 2px solid red;
    padding-left: 0;
}

nav ul :not(li:first-child) {
    padding-left: 50px;
}