body {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(blue,red);  180*/
    /*background-image: linear-gradient(to right, blue,red);  90*/
    /*background-image: linear-gradient(to left, blue,red);  270*/
    /*background-image: linear-gradient(to top,blue red);*/
    /*background-image: linear-gradient(90deg, yellow,green);*/
    /*background-image: linear-gradient(180deg, yellow,green);*/
    /*background-image: linear-gradient(270deg, yellow,green);*/
    /*background-image: linear-gradient(to bottom right, yellow,green);*/
    /*background-image: linear-gradient(to top left, yellow,green);*/
    /*background-image: linear-gradient(
        to right,
        rgba(255,0,0,0.3),
        rgba(255,0,0,0.7)
    );*/
    /*background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
    );*/
    /*background-image: repeating-linear-gradient(
        45deg,
        #d2e0fb,
        #79ac78
        1px
    );*/
    /*background-image: linear-gradient(
        to right top,
        rgba(5, 25, 55, 0.5),
        rgba(0, 77, 122, 0.5),
        rgba(0, 135, 147, 0.5),
        rgba(0, 191, 114, 0.5),
        rgba(168, 235, 18, 0.5)
    ),
    url("imageOne.jpg");
    */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}