@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;600&family=Urbanist:wght@400;500;600;700&display=swap');

html {
    font-family: "Urbanist";
}

body {
    width: 100%;
    height: 100vh;
    background-color: #191717;
    display: grid;
    place-items: center;
}

img {
    /*box-shadow: 0 0 0 40px white;*/
    filter: drop-shadow(
        0 50px 50px white
    );
}